Source: ubuntu-flashback-settings
Section: x11
Priority: optional
Maintainer: Mystic-Mirage <mm@m10e.net>
Build-Depends: debhelper (>= 9),
Standards-Version: 3.9.6
Homepage: https://launchpad.net/ubuntu-flashback/

Package: ubuntu-flashback-default-settings
Architecture: all
Depends: ${misc:Depends},
Description: Default settings for Ubuntu Flashback
 Various system settings tailored for Ubuntu Flashback.
